<header>
  <div id="logo"></div>
  <div id="menu">
    <a href="/board">게시판</a>
  </div>
  <div id="my-info">
    <% if(session.login) { %>
    <a href="/user?id=<%= session.sessionID %>">내 정보</a>
    <a href="/logout">로그아웃</a>
    <% } else { %>
    <a href="/login">로그인</a>
    <a href="/register">회원가입</a>
    <% } %>
  </div>
</header>
