header {
  padding: 20px 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
}
header a {
  text-decoration: none;
  color: #4caf50;
}
#my-info {
  margin-right: 80px;
}
#my-info > a {
  margin: 0 20px;
}
