<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/board/edit.css" />
    <script src="/js/board/edit.js" defer></script>
  </head>
  <body>
    <div id="main">
      <input id="id" type="hidden" value="<%= post.id %>" />
      <h1>게시글 수정하기</h1>
      <div id="title-box">
        <p>제목</p>
        <input
          id="title"
          type="text"
          placeholder="제목을 입력해주세요."
          value="<%= post.title %>"
        />
      </div>
      <div id="content-box">
        <p>본문</p>
        <textarea name="" id="content" cols="30" rows="10">
<%= post.content %></textarea
        >
      </div>
      <div id="button-group">
        <a id="prev" href="/board/list">이전</a>
        <button id="complete-btn">수정 완료</button>
      </div>
    </div>
  </body>
</html>
