body {
  background-color: #4caf50;
}
#main {
  width: 1000px;
  margin: 50px auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
}
#title {
  margin: 50px 0;
  text-align: center;
}
#write {
  text-decoration: none;
  color: #fff;
  background-color: #4caf50;
  padding: 15px 30px;
  border-radius: 5px;
}
#posts {
  margin-top: 50px;
  border: 1px solid gray;
}
.post {
  border: 1px solid gray;
  padding: 20px 30px;
}
.post > div {
  display: flex;
  justify-content: space-between;
}
.title {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.title:hover {
  color: #4caf50;
}
